<!-- Dialog Container (Hidden by default) -->
<div id="dialogContainer" class="dialog-container" style="display: none;">
  <div class="dialog-backdrop"></div>
  <div class="dialog-box">
    <div class="dialog-content">
      <p id="dialogMessage"></p>
    </div>
    <div class="dialog-actions" id="dialogActions">
      <!-- Buttons will be dynamically inserted here -->
    </div>
  </div>
</div>