* {
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.left-nav {
    top: 0;
    left: 0;
    bottom: 0;
    width: 215px;
    background-color: #bababa;
    padding: 20px;
    box-sizing: border-box;
  }
  .left-nav img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  .left-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .left-nav li {
    margin: 10px 0;
  }
  .left-nav a {
    text-decoration: none;
    color: #000;
  }
  
  .left-nav ul li a {
display: block;
text-decoration: none;
color: black; /* Default text color */
transition: background 0.3s, color 0.3s; /* Smooth transition */
}

.left-nav ul li a:hover {
background:#8E8E8E;
}

.left-nav ul li a:active {
color: black;
background:#8E8E8E;
}

/* If you want to highlight the active page */
.left-nav ul li a.active {
background:#8E8E8E;
color: black;
}



h1,p{
    padding: 0;
    margin: 0;
}


.Wrapper{
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
}

.bar{
    background-color: #BABABA;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height:50px;
    padding:0 20px;
    gap: 50px;
}
.logoSec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.logo{
    width: 150px;
    height: 130px;

    @media screen and (max-width: 1280px){
        width: 120px;
        height: 100px;
    }
}

.choice{
    width: 100%;
}

.button-bar{
    font-family: "Inter", sans-serif;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    padding-left: 20px;
    padding: 10px 0;
    border: none;
    background-color: #BABABA;
}

.button-bar-text{
    margin-left: 55px;
}
.button-bar:hover{
    background-color: #8E8E8E;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    min-width: 0;
}


.info-bar{
    background-color: #525252;
    color: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

   
}

#info-header-title{
    font-size: 1.2rem;        
}

.left-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.info{
    padding-top: 70px;
}

.detail-btn{
    border: 1px solid #000;
}

#accept-btn{
    background-color: #58ff49;
}

#cancel-btn{
    background-color: #fe1515;
}

.main-info{
    background-color: grey;
    padding: 20px 100px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 60%;
    margin: 0 auto;
    
}

.middle{
    display: flex;
    gap: 10px;
}

.button-section{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.detail-text, .detail-input{
    background-color: #d9d9d9;

}

.detail-text{
    padding: 3px;
}

.detail-input{
    border: 0;
    padding: 5px;
}

.pop-up{
    display: none;
    position: fixed;
    top: 0%;
    left: 215px;
    width: 800%;
    height: 100%;
    z-index: 10;    
    background-color: rgba(0, 0, 0,0.5);
}

.pop-content{
    position: absolute;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    width: 25%;
    position: fixed;
    z-index: 10;
    padding: 15px;
}

.accept{
    background-color: #58FF49;
}

.decline{
    background-color: #FE1515;
}

.now-bar{
    background-color: #8E8E8E;
}

#logout-button {
    background: none;
    border: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
}
.logout-button:hover {
    background-color: #8E8E8E;
}