.main, .bar, .info-bar, .search-bar, .sec-add, .sec-list, .sec {
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    padding: 0;
    margin: 0;
}



h1,p{
    padding: 0;
    margin: 0;
}


.Wrapper{
    position: relative;
    max-width: 1280px;
    height: 100vh;
    display: flex;
    width: 100%;
}

.bar{
    background-color: #BABABA;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding-top: 20px;
    gap: 50px;
    

}
.logoSec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.logo{
    width: 150px;
    height: 130px;

    @media screen and (max-width: 1280px){
        width: 120px;
        height: 100px;
    }
}

.choice{
    width: 100%;
}

.button-bar{
    font-family: "Inter", sans-serif;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    padding-left: 20px;
    padding: 10px 0;
    border: none;
    background-color: #BABABA;
}

.button-bar-text{
    margin-left: 55px;
}
.button-bar:hover{
    background-color: #8E8E8E;
}

.main{
    display: flex;
    flex-direction: column;
    width: 75%;
}


.info-bar{
    background-color: #525252;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.left-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.info{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-info{
    background-color: grey;
    padding: 20px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    
}

.middle{
    display: flex;
    gap: 10px;
}

.button-section{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
    align-items: center;

}


#courseSelect{
    font-family: "Inter", sans-serif;
    border: 0;
    border-radius: 0;
    padding: 5px 100px 5px 5px;

}


#course-detail, #course-id, .input-Question{
    background-color: #d9d9d9;
    padding: 3px;
}

.int-input{
    padding: 3px;
    background-color: #d9d9d9;
    border: 0;
}

#acceptBtn, #cancelBtn{
    font-family: "Inter", sans-serif;
    border: 1px solid #000;
}

#acceptBtn{
    background-color: #58ff49;
}

#cancelBtn{
    background-color: #fe1515;
}

.pop-up{
    display: none;
    position: fixed;
    top: 0%;
    left: 25%;
    width: 80%;
    height: 100%;
    z-index: 10;    
    background-color: rgba(0, 0, 0,0.5);
}

.pop-content{
    position: absolute;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    width: 25%;
    position: fixed;
    z-index: 10;
    padding: 15px;
}

.accept{
    background-color: #58FF49;
}

.decline{
    background-color: #FE1515;
}

.now-bar{
    background-color: #8E8E8E;
}